/**********STYLE**********/
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
    width: 100%;
}
canvas#test{
    border: solid 1px black;
    width: 100wm;
}
canvas#alphabet{
    display: block;
    position: absolute;
}
canvas#sound{
    display: block;
    position: absolute;
    /*margin-left: 400px;*/
    width: 0px;
    height: 0px;
}
#valeurs {
    display: block;
    margin-top: 100px;
    /*margin: calc(100% - 400px);*/
    text-align: center;
    width: 100%;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
}
